<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Mon Puissance 4">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<title>Le jeux Puissance 4</title>
</head>
<body class="fond2">
	<div class="container">
		
	<!-- <div id="map"></div> -->
	<!-- <table id="map"></table> -->
	
	
	<!-- <script src="../js/script.js"></script> -->
	<!-- <script>
		$(document).ready( function() {
		$('map').puissance4();
		});
	</script> -->
	<script type="text/javascript" src="../js/script.js"></script>
	</div>
</body>
</html>